.clouds {
    position: relative;
}

.clouds img {
    position: absolute;
}

.clouds img:nth-child(1) {
    animation: movingSunnyOrMoonRight 300s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(2) {
    animation: movingCloudsLeft 60s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(3) {
    animation: movingCloudsRight 65s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(4) {
    animation: movingCloudsLeft 70s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(5) {
    animation: movingCloudsRight 75s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(6) {
    animation: movingCloudsLeft 70s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(7) {
    animation: movingCloudsRight 55s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(8) {
    animation: movingCloudsLeft 85s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(9) {
    animation: movingCloudsRight 85s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(10) {
    animation: movingCloudsLeft 55s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(11) {
    animation: movingCloudsRight 105s ease-in-out infinite;
    left: 0px;
}

.clouds img:nth-child(12) {
    animation: movingCloudsLeft 125s ease-in-out infinite;
    right: 0px;
}

.clouds img:nth-child(13) {
    animation: movingCloudsLeft 125s ease-in-out infinite;
    right: 0px;
}

@keyframes movingSunnyOrMoonRight {
    0% {
        transform: translateX(-150px) rotate(55deg);
    }

    100% {
        transform: translateX(1400px) rotate(0deg);
    }
}

@keyframes movingCloudsRight {
    0% {
        transform: translateX(-350px);
    }

    100% {
        transform: translateX(1400px);
    }
}

@keyframes movingCloudsLeft {
    0% {
        transform: translateX(340px);
    }

    100% {
        transform: translateX(-1450px);
    }
}